@model IEnumerable<Assignment13.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDOJ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDOJ)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
